.contact {
  margin-bottom: 4rem;
  &__container {
    row-gap: 1rem;
    justify-items: center;
  }
  &__description {
    text-align: center;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 4rem;
    justify-items: center;
  }
  &__subtitle {
    font-size: var(--normal-font-size);
    color: var(--first-color);
  }
  &__text {
    display: inline-block;
    margin-bottom: var(--margin-2);
  }
  i {
    font-size: 1.4rem;
  }
}
