.contact {
  &__container {
    row-gap: 1rem;
    justify-items: center;
  }
  &__subtitle {
    font-size: var(--normal-font-size);
    color: var(--first-color);
  }
  &__content {
    margin: 0;
  }
}
