.home {
  position: relative;
  overflow: hidden;
  background-color: var(--first-color);
  z-index: 10;

  &__bubble {
    display: block;
    position: absolute;
    width: 150px;
    height: 150px;
    background: url('../img/home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    pointer-events: none;
    border-radius: 50%;
  }

  &__container {
    height: calc(100vh - var(--header-height));
    width: 100%;
    row-gap: 5rem;
    background-color: var(--first-color);
  }
  &__title {
    align-self: flex-end;
    font-size: var(--big-font-size);
    color: var(--white-color);
    line-height: 0.8;
  }
  &__scroll {
    align-self: flex-end;
    padding-bottom: var(--mb-4);

    &-link {
      writing-mode: vertical-lr;
      transform: rotate(-180deg);
      color: var(--white-color);
    }
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
  }
}
