.home {
  position: relative;
  overflow: hidden;
  background: url('../img/home.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    opacity: 0.1;
  }

  &__container {
    height: calc(100vh - var(--header-height));
    width: 100%;
    row-gap: 5rem;
  }
  &__title {
    align-self: center;
    font-size: var(--big-font-size);
    color: var(--first-color);
    line-height: 0.8;
    text-shadow: 2px 4px 3px var(--white-color);
    opacity: 1;
  }
  &__scroll {
    align-self: flex-end;
    padding-bottom: var(--mb-4);

    &-link {
      writing-mode: vertical-lr;
      transform: rotate(-180deg);
      color: var(--first-color);
      opacity: 1;
    }
  }
}
