.home {
  position: relative;
  overflow: hidden;
  background: url('../img/headshot.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  &__container {
    height: calc(100vh - var(--header-height));
    width: 100%;
    row-gap: 5rem;
  }
  &__title {
    align-self: flex-end;
    font-size: var(--big-font-size);
    color: var(--white-color);
    line-height: 0.8;

    & span {
      text-shadow: 0 20px 25px rgba(0, 0, 0, 0.5);
    }
  }
  &__scroll {
    align-self: flex-end;
    padding-bottom: var(--mb-4);

    &-link {
      writing-mode: vertical-lr;
      transform: rotate(-180deg);
      color: var(--white-color);
    }
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
  }
}
