@media screen and(min-width: 768px) {
  .bd-grid {
    padding: 0 2rem;
  }

  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;

    &-title {
      margin-bottom: 3rem;

      &::after {
        width: 64px;
        top: 3rem;
      }
    }
  }

  .nav {
    height: calc(var(--header-height) + 1rem);

    &__list {
      display: flex;
    }
    &__item {
      margin-left: var(--mb-4);
      margin-bottom: 0;
    }
    &__toggle {
      display: none;
    }
    &__link {
      color: var(--white-color);

      &:hover {
        color: var(--white-color);
      }
    }
  }
  .active::after {
    background-color: var(--white-color);
  }

  .home {
    &__container {
      height: 100vh;
      grid-template-rows: 1.7fr 1fr;
      row-gap: 0;
    }
    &__scroll {
      align-self: flex-end;
      padding-bottom: var(--mb-4);
    }
  }

  .about {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      text-align: initial;
      padding: 4rem 2rem;
    }
    &__img {
      width: 200px;
      height: 200px;
    }
  }

  .skills {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }

  .projects {
    &__container {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 2rem;
    }
  }

  .footer {
    &__container {
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
    }
  }
}

@media screen and(min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    &__title {
      align-self: end;
    }
  }
}

@media screen and(min-width: 1200px) {
  .home {
    &__scroll-link {
      writing-mode: horizontal-tb;
      i {
        transform: scaleY(-1);
      }
    }
  }
}
