.resume {
  &__container {
    row-gap: 2rem;
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
  }
  &__year,
  &__title {
    margin-bottom: 0.25rem;
    color: var(--first-color);
  }
  &__university,
  &__description {
    display: block;
  }
  &__year,
  &__place {
    text-align: right;
  }
  &__time {
    padding: 0 1rem;
    justify-self: center;
  }
  &__rounder {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--first-color);
    border-radius: 50%;
    &::before {
      content: '';
      position: absolute;
      transform: translate(-4px, -4px);
      width: 20px;
      height: 20px;
      border: 1px solid var(--first-color);
      border-radius: 50%;
    }
  }
  &__line {
    display: block;
    height: 90%;
    width: 2px;
    background-color: var(--first-color);
    transform: translate(5px, -4px);
  }
}
