.skills {
  &__container {
    row-gap: 2rem;
  }
  &__subtitle {
    color: var(--first-color);
    margin-bottom: var(--margin-3);
  }
  &__name {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-right: var(--margin-2);
    margin-bottom: var(--margin-3);
    padding: 0.25rem 0.5rem;
    background-color: var(--white-color);
    border-radius: 0.25rem;

    &:hover {
      background-color: var(--first-color);
      color: var(--white-color);
    }
  }
  &__img {
    & img {
      border-radius: 0.5rem;
    }
  }
}
